* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Open Sans", "Roboto", "Inter", sans-serif;
}

header{
    background-color: antiquewhite;
    text-align: center;
    padding: 4em;
}

.mainContainer {
    text-align: center;
    padding: 4em;
}

footer {
    text-align: center;
    padding: 4em;
}